pytest
python-benedict>=0.24.2
python_dateutil>=2.8.1
pyparsing>=3.0.4
pygtrie>=2.3.2
xmltodict>=0.11.0
python_slugify>=5.0.1
python_fsutil>=0.4.0
phonenumbers>=8.12.39
mailchecker>=4.1.5
iniconfig>=1.1.0
ftfy>=6.0.1
zc.lockfile>=1.4
voluptuous>=0.11.7
urllib3>=1.26.6
typing_extensions>=4.0.0
tqdm>=4.62.2
toml>=0.10.1
threadpoolctl>=2.2.0
tabulate>=0.8.8
six>=1.15.0
shtab>=1.5.1
shortuuid>=0.5.0
scipy>=1.1.0
pyyaml>=3.13
pydot-1.4.1
requests
flake8
scikit-learn
fastapi==0.70.1
awscli==1.22.23
dvc
dvc[s3]
uvicorn
